# .env - DO NOT COMMIT THIS FILE

# Security - Generate a secure key with: openssl rand -hex 32
SECRET_KEY=YOUR_SECRET_KEY
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30


EMAIL=sample@gmail.com
PASSWORD=sample