uvicorn==0.37.0
fastapi==0.119.0
pydantic==2.12.2
email-validator==2.3.0
python-decouple==3.8
python-jose==3.5.0
passlib==1.7.4
python-multipart==0.0.20
redis==7.1.0
httpx==0.28.1
selenium==4.38.0
bcrypt==4.3.0
websockets==15.0.1